extends layout

block content
    table(id="usersTable")
        tr
            th User Id
            th User Name
            th
        each user in users
            if user.role === 'user'
                form(id="registerForm", method="post", action="/upgradeUser")
                    td
                        input(class="userIdCol" type="text" name="id" value=user.id readonly)
                    td
                        input(type="text" name="username" value=user.name readonly)
                    td
                        input(type='submit', value='Upgrade To Admin')