extends layout

block content
    //- each user in users
    //-     h4 #{user.name}'s answers!
    //-     each answer in user.answers
    //-         p #{answer.answerText}
    input(type='hidden' value=users id='data')
    script(src='graph.js')
    