extends layout

block content
    input(type='hidden' value=users id='data')
    h6 This page was last visited on #{lastVisited}
    each user in users
        h4 #{user.name}'s answers!
        each answer in user.answers
            p #{answer.answerText}
    script(src='graph.js')
    