doctype html
html
  head
    title=title
    link(rel="stylesheet" type="text/css" href="../style.css")
    body
      div(id="navBar")
        a(href="/register") Register
        if isLoggedIn
          a(href="/logout") Logout
          a(href="/account/" + userId) Account
        else
          a(href="/login") Login
        a(href="/") Home
        if isAdmin
          a(href="/admin") Admin
      block content