extends layout

block content

  form(id="registerForm", method="post", action="/registerUser")
    label(for="username") Username:
    input(type="text" name="username" placeholder="Username")
    br
    label(for="password") Password:
    input(type="password" name = "username" placeholder="Password")
    br
    label(for="Q1") What do you like more?
    select(name = "Q1")
      option(value="Sushi") Sushi
      option(value="Pizza") Pizza
      option(value="Domination") World Domination
      option(value="Book") A Good Book
    br
    label(for="Q2") Who's the better cook?
    select(name = "Q2")
      option(value="Ramsay") Gordon Ramsay
      option(value="Child") Julia Child
      option(value="Brown") Alton Brown
      option(value="Flay") Bobby Flay
    br
    label(for="Q3") Where would you like to live?
    select(name = "Q3")
      option(value="Bahamas") The Bahamas
      option(value="Iceland") Iceland
      option(value="Australia") The Land Down Undah
      option(value="Well") At The Bottom of a Well
    br
    input(type='submit', value='Register')